spring:
  config:
    import: optional:classpath:application-local.yml


  datasource:
    url: jdbc:postgresql://localhost:5432/food-delivery-platform
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate.format_sql: true


      flyway:
        enabled: true
        locations: classpath:db/migration


jwt:
  expiration: 3600000